{% extends 'base.html' %}
{% load static %}
{% load utilities_tags %}

{% block stylesheets %}
    <link href="{% static "datatables/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sensu_aggr_app.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block bodyclass %}
    skin-blue-light
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="description-block">
          <h3>Aggregated SENSU Dashboard</h3>
        </div><!-- /.description-block -->
    </div>
    <div class="col-md-3">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-red">
          <span class="info-box-icon"><i class="fa fa-fire"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">CRITICAL</span>
            <span class="info-box-number">{{ data.crit }}</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              * Aggregated Checks from all DCs
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-md-3">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-yellow">
          <span class="info-box-icon"><i class="fa fa-warning"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">WARNING</span>
            <span class="info-box-number">{{ data.warn }}</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              * Aggregated Checks from all DCs
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <!-- <div class="col-lg-3 col-xs-12">
        <div class="info-box bg-blue">
          <span class="info-box-icon"><i class="fa fa-cloud-download"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">HOSTS DOWN</span>
            <span class="info-box-number">200</span>
            <div class="progress">
              <div class="progress-bar" style="width: 50%"></div>
            </div>
            <span class="progress-description">
              * Aggregated hosts from all DCs
            </span>
          </div>
        </div>
    </div> -->
    <div class="col-md-3">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">OK</span>
            <span class="info-box-number">{{ data.ok }}</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              * Aggregated Checks from all DCs
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
</div>


<div class="row">
  <div class="col-sm-4 col-xs-6">
    <div class="description-block border-right">

    </div><!-- /.description-block -->
  </div><!-- /.col -->
  <div class="col-sm-2 col-xs-6">
    <div class="description-block border-right">
      <h5 class="description-header text-green">{{ data.total_dcs }}</h5>
      <span class="description-text"><i class="fa fa-database"></i> TOTAL DATACENTERS</span>
    </div><!-- /.description-block -->
  </div><!-- /.col -->
  <div class="col-sm-2 col-xs-6">
    <div class="description-block border-right">
      <h5 class="description-header text-green">XXX</h5>
      <span class="description-text"><i class="fa fa-server"></i> TOTAL MONITORED HOSTS</span>
    </div><!-- /.description-block -->
  </div><!-- /.col -->
  <div class="col-sm-2 col-xs-6">
    <div class="description-block border-right">
      <h5 class="description-header text-green">XXX</h5>
      <span class="description-text"><i class="fa fa-flash"></i> CACHED RESPONSE</span>
    </div><!-- /.description-block -->
  </div><!-- /.col -->
  <div class="col-sm-2 col-xs-6">
    <div class="description-block">
        <h5 class="description-header text-green"><!-- STATS: Total: %(total_time).2fs Python: %(python_time).2fs ENDSTATS --></h5>


      <span class="description-text"><i class="fa fa-clock-o"></i> TIME TO GENERATE PAGE</span>
    </div><!-- /.description-block -->
  </div>
</div><!-- /.row -->

<hr />

<div class="row">
    <div class="col-xs-8">
        <div class="box box-solid box-danger">
          <div class="box-header">
            <h3 class="box-title">CRITICAL</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="critical" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Source</th>
                  <th>Check Name</th>
                  <th>DC</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in data.checks_crit %}
                <tr>
                  <td>{{ row.client }}</td>
                  <td>{{ row.check.name }}</td>
                  <td>{{ row.dc }}</td>
                  <td>{{ row.check.output }}</td>
                  <td>{{ row.check.issued|epoch_to_date }}</td>
                </tr>
                 {% endfor %}

              </tbody>
              <tfoot>
                <tr>
                    <th>Source</th>
                    <th>Check Name</th>
                    <th>DC</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->


        <div class="box box-solid box-warning">
          <div class="box-header">
            <h3 class="box-title">WARNING</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="warning" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Source</th>
                  <th>Check Name</th>
                  <th>DC</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in data.checks_warn %}
                <tr>
                  <td>{{ row.client }}</td>
                  <td>{{ row.check.name }}</td>
                  <td>{{ row.dc }}</td>
                  <td>{{ row.check.output }}</td>
                  <td>{{ row.check.issued|epoch_to_date }}</td>
                </tr>
                 {% endfor %}

              </tbody>
              <tfoot>
                <tr>
                    <th>Source</th>
                    <th>Check Name</th>
                    <th>DC</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

    <div class="col-xs-4">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">STATS</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div id="mainb" style="height:370px;"></div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

    </div>
</div>





{% endblock %}

{% block javascript %}
<!-- ECharts -->
<script src="{% static "echarts/dist/echarts.min.js" %}"></script>
<!-- DATA TABES SCRIPT -->
<script src="{% static "datatables/jquery.dataTables.min.js" %}" type="text/javascript"></script>
<script src="{% static "datatables/dataTables.bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
  $(function () {
    $('#critical').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
    $('#warning').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });

    //echart Bar

    if ($('#mainb').length) {
        var y_data = {{ y_data|safe }}
        var crit_series = {{ crit_series|safe }}
        var warn_series = {{ warn_series|safe }}
        var ok_series = {{ ok_series|safe }}

        var theme = {
            color: [
                '#DD4B39', '#F39C12', '#00A65A'
            ]}

        var echartBar = echarts.init(document.getElementById('mainb'), theme);


        echartBar.setOption({


            tooltip : {
            trigger: 'axis',
            axisPointer : {
                type : 'shadow'
            }
            },
            legend: {
                data: ['Critical', 'Warning']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: y_data
            },
            series: [
                {
                    name: 'Critical',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: crit_series
                },
                {
                    name: 'Warning',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: warn_series
                },
                

            ]
        });

    }


  });
</script>
{% endblock %}
